@font-face {
    font-family: Mona;
    src: url(font/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
    font-family: veff2;
    src: url(font/vEFF2_tTDB4M7-auWDN0ahZJW3IX2ih5nk3AucvUHf6kDXr4.woff2);
}
@font-face {
    font-family: wfviisualsans-reg;
    src: url(font/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
@font-face {
    font-family: wfvisuslsans-semibold;
    src: url(font/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
@font-face {
    font-family: mona2;
    src: url(font/mona2.woff2);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #0d0c22;
    font-family: "Mona";
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}
.nav {
    position: relative;
    width: 100%;
    background: #333;
    color: #fff;
    transition: 0.4s ease-in-out;
    color: #060318;
    font-family: mona;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #555;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9997;
  }
  .nav {
    position: relative; 
    display: flex;
    z-index: 9996;
    top: 0;
    width: 100%;
    transition: 0.4s ease-in-out;
    color: #060318;
    font-family: mona;
} */
.nav-main{
    display: none;
    position: absolute;
    z-index: calc(calc(9996 + 1) + 1);
    box-sizing: border-box;
    width: 400px;
    margin-bottom: 10px;
    margin-left: -5px;
    padding: 20px 20px 15px;
    border-radius: 12px;
    background-color: #fff;



}
.nav-container-top{
    content: "";
    visibility: hidden;
    z-index: 9995;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s ease-in-out,visibility 0.25s;
}
.nav-container{
    display: flex;
    position: relative;
    z-index: 9996;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    height: 58px;
    padding: 16px;
    padding-right: 14px;
    transition: background-color 0.25s ease-out;
    gap: 13px;
    z-index: 10;
}
.nav-container::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:#fff;
} 

.nav-button{
    padding: 6px;
    display: grid;
    box-sizing: content-box;
    flex-shrink: 0;
    order: -10;
    width: 24px;
    cursor: pointer;
    margin: 0 0 0 calc(-1* 6px);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
    gap: 4px;
}





/* for js */


.nav-button.active > *{
    transform: rotate(45deg) translate3d(0px,-3px,0);
}
.nav-button.active > *:nth-child(3){
    transform: rotate(-45deg) translate3d(0,0,0);
    width: 100%;
}
.nav-button.active > *:nth-child(2){
  background: transparent;
}






/* hide drop */

.dropdownMenu {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;


    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: opacity 0.25s ease-out, visibility 0.25s ease-out, transform 0.25s ease-out;


}

/* Dropdown Menu - Active State */
.dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* Button styling */
.nav-button {
    background: none;
    border: none;
    cursor: pointer;
}


/* {
    display: none;
} */



.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.list li{

}
.list li a{
    width: 100%;
    color: #060318;
    font-size: 18px;
    font-family: Mona;
    font-weight: 700;
    line-height: 22px;
    padding: 16px 0;
    display: inline-flex;
    align-items: center;
   
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); 

}
.dropdownMenu .list li {
    transform: translateX(-35px); /* Start offset */
    opacity: 0; 
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Base transition */
}
.dropdownMenu.active .list li {
    transform: translateX(0); 
    opacity: 1;
}

.dropdownMenu.active .list li:nth-child(1) {
    transition-delay: 0s;
    transition-duration: 0.1s;
}

.dropdownMenu.active .list li:nth-child(2) {
    transition-delay: 0.01s;
    transition-duration: 0.15s;
}

.dropdownMenu.active .list li:nth-child(3) {
    transition-delay: 0.02s;
    transition-duration: 0.2s;
}

.dropdownMenu.active .list li:nth-child(4) {
    transition-delay: 0.03s;
    transition-duration: 0.25s;
}


ul{
    list-style-type: none;
}

/* /////////// */





.nav-button > * {
    width: 100%;
    height: 3px;
    transform: translate3d(0,0,0);
    transform-origin: 0% 0px;
    background-color: rgb(6,3,24);
    transition: 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    border-radius: 1e+07px;
}


.nav-button > :nth-child(2){
    width: 74%;
}
.nav-button > :nth-child(3){
    width: 50%;
}

.nav-container a{
    text-decoration: none;
    --link-color: #060318;
    display: flex;
    /* margin-right: 30px; */
    position: relative;
    top: -1px;
    flex-shrink: 0;
    width: 89px;
    color: rgb(6, 3, 24);
    aspect-ratio: 210 / 59;
}

.nav-container a svg{
  width: 100%;
  height: 100%;

}

.nav-container-elm{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 18px;
}

.nav-container-btns > :nth-child(1){
    display: none;
}

.nav-container-log{
    text-decoration: none;
    height: 40px;
    background-color: #060318;
    font-size: 14px;
    font-weight: 600;
    font-feature-settings: "ss01";
    line-height: 1;
    cursor: pointer;
    padding: 0 24px;
    transition: color 0.15s cubic-bezier(0.32, 0, 0.59, 0.03), background-color, border, border-radius;
    border: 1.5px solid #0d0c22;
    border-radius: 999999px;
    white-space: nowrap;
    gap: 8px;

    


}
.nav-container-elm a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mona;
    margin: 0;
    margin-top: 2px;
}



.nav-container-elm1-button{
    border: none;
    background: none;
    opacity: 0;
    display: block;
}
.searchButton{
    opacity: 1;
}
.container_btntop{
    display: none;
}

.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 50px 16px;
    gap: 30px;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}
.container_h1{
    font-family:veff2;
    max-width: 690px;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.container_h2{
    font-family:"Mona";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 560px;
    margin-top: -9px;
    text-align: center;
    margin-bottom: 0;
}

.container_btn{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 710px;
    height: 60px;
}
.container_btn-form{
    box-sizing: border-box;
    position: relative;
    flex: 1;
    height: 60px;
    background-color: #fff;
}


.container_btnc{
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    padding: 0 6px 0 0;
    transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-property: background-color;
    border: 2px solid transparent;
    border-radius: 9999999px;
    outline: 3px solid transparent;
    outline-offset: -3px;
    background-color: #f3f3f6;
    gap: 12px;
    height: 60px;
    width: 100%;
}



.input{
    background: transparent;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 24px 0 16px;
    font-size: 14px;
    color: #0d0c22;
    font-family: mona;

}
input:focus{
    outline: none;
}


.shots-btn{
    flex-shrink: 0;
    transition: none;
    color: #3a3546;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 18.5px 0 0;
    position: relative;
}

.shots-btn svg{ 
    height: 17px;
    width: 14px;
    position: absolute;
    right: 0;
}

.svg-icon{
    transition: transform 0.3s ease;
}
.dropdownShots{
   
    position: absolute;
    /* border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px; */
    visibility: hidden;
    opacity: 0;
    width: 57.4219px;
    left: 78px;
    top: 50px;
    z-index: 99999;
    min-width: 150px;
    padding: 12px;
    border: 1px solid rgba(231, 231, 233, .5);
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 15px 50px #1b20321a;
    transition:  1s ease;

   
}
.dropdownShots.activeS{
    display: block;
    opacity: 1;
    visibility: visible;
    
}

.shots-btn-span{
    flex-shrink: 0;
    transition: none;
    color: #3a3546;
    font-size: 14px;
    font-weight: 600;
}


.shots-btn-span svg{
    position: absolute;
    font-size: 14px;
    top: 50%;
    right: 0;
    height: 14px;
    width: 14px;
    transform:translate(-50%) ;
    background-repeat: no-repeat;
    background-size: 14px;
    color: #060318;

}


.container_btn2{
    background-color: #ea4c89;
    color: #fff;
    border:none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-feature-settings: 'ss01';
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    gap: 8px;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container_btn2 svg{
    width: 20px;
    height: 20px;
}


.container_elm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.container_elm1{
    font-family: Mona;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #9890ac;
}
.container_elm2{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_elm2 a{
    font-family: mona;
    font-size: 14px;
    text-decoration: none;
    height: 27px;
    padding-inline: 16px;
    background-color: #f3f3f6;
    color: #3a3546;
    display: inline-flex;
    padding-top: 4px;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 1e+07px;

}
.dropdownMen{
    display: none;
}









/* ///second block */


.container_block2{
    padding: 16px 20px 0;
    position: relative;
    background: #fff;

}
.contsiner_block2M{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.container_block2-btn1{
    margin-right: 15px;

}
.dropdownBtn2{
    z-index: 4;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.dropdownBtn2 a{
    text-decoration: none;
    font-family: Mona;
    padding: 18.5px 43px 19px 18px;
    border: 1.5px solid rgba(231, 231, 233, 0.9);
    border-radius: 8px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    height: 30px;
    color: #0d0c22;
}
.dropdownBtn2 a{
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdownBtn2 a svg{
    fill: #3d3d4e;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    right: 15px;
    transform: translateY(-50%);
  
    transition: 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}


.container_block2-scroll{
    order: 3;
    width: calc(100% + 30px);
    margin:15px -15px 0;
    padding: 15px 0 0;
    border-top: 1px solid #f3f3f4;
    position: relative;
    text-align: center;
    font-family: Mona;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.scroll_span-back{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center;
    font-family: Mona;
    font-weight: 400;
    line-height: 20px;
    color: #0d0c22;
    ont-feature-settings: 'ss01';
}


.scroll_span-back a{
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, white 50%);
    position:absolute;
    z-index: 1;
    width: 40px;
    padding: 10px 0;
    color: 0d0c22;
    text-decoration: none;
    transition: color 200ms ease;

}
.scroll_span-back a svg{
    width: 14px;
    height: 14px;
    fill: currentColor;
    transform: rotate(90deg);
    text-align: center;
}

.scroll_span-forword{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center;
    font-family: Mona;
    font-weight: 400;
    line-height: 20px;
    color: #0d0c22;
    ont-feature-settings: 'ss01';
}


.scroll_span-forword a{
    right: 0;
    bottom: 1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);    position:absolute;
    z-index: 1;
    width: 40px;
    padding: 10px 0;
    color: 0d0c22;
    text-decoration: none;
    transition: color 200ms ease;

}
.scroll_span-forword a svg{
    width: 14px;
    height: 14px;
    fill: currentColor;
    transform: rotate(-90deg);
    text-align: center;
}
.container_block2-ul{
    overflow:auto hidden;
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 0 2px;
    scroll-behavior: smooth;
    list-style-type: none;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;

}
.container_block2-ul::-webkit-scrollbar{
    display: none;
}
.category{
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
}
.category a{
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border-radius: 9999999px;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

ul.container_block2-ul li:first-child {
    
    background-color:#f8f7f4; 
    height: 36px;
    border-radius: 99999px;
}


.container_block2-btn2{
    flex: 0 0 auto;
    order: 2;
    display: flex;
    /* flex: 0 0 200px; */
    align-items: center;
    justify-content: flex-end;

}


.container_block2-btn2 a{
    border-color: #e7e7e9;
    /* border: 1px solid #e7e7e9; */
    background-color: #fff;
    box-shadow: none;
    color: #0d0c22;
    line-height: 16px;
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
    color: #0d0c22;
    padding: 10px 21px;
    border-radius: 999999px;
    font-size: 13px;
    font-weight: 600;text-decoration: none;
    height: 40px;
    padding-top: 11px;


}

.container_block2-btn2 a svg{
    display: inline-block;
    margin-right: 4px;
    margin-top: -3px;
    width: 13px;
    height: 13px;
    fill: currentColor;
    vertical-align: middle;
}
.container_block2-btn2 span{
    font-weight: normal;
    line-height: 16px;
   
}




.container_block2-filter{
    margin: 15px -15px -15px;
    padding: 15px 15px 0;
    position: relative;
}
.block2-form{
    position: relative;
    transition: max-width 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}
.block2-flex{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.block2-category{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
.block2-form label{
    font-family: Mona;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.block2-category select{
    font-family: Mona;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    padding: 18px 20px;
    border: 1.5px solid #e7e7e9;
    border-radius: 10px;

    
}

.block2-category select:focus{
    outline: none;
}

.container_block2-filter{
    display: none;
    opacity: 0;
    height: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}
.container_block2-filter.visibleDrop{
    display: block;
    height: auto;
    opacity: 1;
}






.drop-flex svg{
    fill: rgb(34, 32, 32);
    width: 10px;
    height: 10px;

}
/* Custom Dropdown Container */
.custom-dropdown {
    position: relative;
    width: 100%;
    border: 1.5px solid #f8f9f9;
    border-radius: 20px;
    font-family: mona;
    font-size: 16px;
    height: 56px;
    margin-bottom: 20px;

  
  }
  
  /* Flexbox for selected value and caret icon */
  .drop-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    height: 56px;
  }
  
  /* Hover and Focus Effects */
  .drop-flex:hover {
    border-color: #ecebeb;
  }
  
  /* Dropdown Options List */
  .dropdown-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 0;
    list-style: none;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  
 
  .dropdown-options li {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-options li:last-child {
    border-bottom: none;
  }
  
 
  .dropdown-options li:hover {
    background-color: #f0f0f0;
  }
  
 
  .dropdown-options li.active {
    background-color: #acb0b4;
    color: #fff;
  }
  

  .custom-dropdown.open .dropdown-options {
    display: block;
  }
  

  .custom-dropdown.open .btn-dropdown-caret {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
 
  input[type="hidden"] {
    display: none;
  }



  .shots-dropdown{
    position: relative;
    display: inline-blcok;
    
  }

  .shots-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    background: transparent;

  }
  .shots-selected{
    font-size: 14px;
    font-weight: 600;
    margin-right: 4px;
  }


  /* .shots-options{
    background: #fff;
    position: absolute;
    width: 150px;
    border-radius: 10px;
    z-index: 1000;
    padding: 12px;
    right: 0;
    box-shadow:  0px 15px 50px 0px rgba(27, 32, 50, .1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease; 
   

  } */
  /* .shots-dropdown.open .shots-options{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: block;
    
   
  } */

  .shots-options {
    position: absolute;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    width: 150px;
    box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, .1);
    
  }
  
  .shots-dropdown.open .shots-options {
    display: block;
  }
  
  .shots-options li.active {
    font-weight: bold;
  }
  
  .icon.btn-dropdown-caret {
    transition: transform 0.3s ease;
  }
  
  .shots-dropdown.open .icon.btn-dropdown-caret {
    transform: rotate(180deg);
  }
  

  .shots-options li{
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    padding: 12px;
    
  }
  /* .shots-options li.active {
    font-weight: 600;
    
  } */
  .shots-flex svg{
    fill: black;
    height: 9px;
    width: 10px;
    /* padding-left: 4px; */
    margin-left: 2.8px;
    margin-right: 2px;
    margin-top: 2px;
    transition: transform 0.3s ease;

  }
  .shots-dropdown.open svg.rotated{
    transform: rotate(180deg);
  }



  







/* ?????p?opular */



 .popular-elm{
    position: absolute;
    top: 73px;
    z-index: 99;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 15px 50px 0px rgba(27, 32, 50, .1);
    visibility: hidden;
    opacity: 0;
    transition: 0.7s ease;
    font-size: 14;
 }
 .popular-elm div{
    padding: 10px;
    border-radius: 10px;
 }


 .Popular-emts:hover {
    background-color: #9e9ea7;
 }


 .popular-elm.see{
    opacity: 1;
    visibility: visible;
 }
 .icon.btn-dropdown-caret {
    transition: transform 0.3s ease;
 }
 .icon.btn-dropdown-caret.rotate {
    transform: rotate(180deg);
 }




/* ///////////third block */

.container_block3{
    padding: 0px 0 16px;
    margin-bottom: 40px;

}
.block3-main{
    width: auto;
    float: none;
    position: relative;
    /* margin-bottom: 40px; */
}
.block3-ol{
    padding-inline:20px ;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    list-style: none;
    row-gap: 24px;
    column-gap: 36px;
    margin: 0;
}
.block3-ol li{
    transform: translate3d(0,0,0);
    margin-bottom: 10px;
}
.block3-image{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
/* .block3-image::before{
    content: '';
    display: block;
    padding-top: calc(100%* calc(3 / 4));
} */
.hover{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding-bottom: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}
.block3-image2:hover .hover{
    visibility: visible;
    opacity: 1;

}
.hover span{
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inner-items{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.love{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.save{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.block3-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.block3-property{
    visibility: visible;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.property-elm1{
    display: flex;
    align-items: center;
    min-width: 0;

}
.property-a{
    width: 100px;
}

.property-elm1 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0d0c22;
    font-size: 14px;
    min-width: 0;
}
.property-elm1 a img{
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
}
.property-elm1 a .name{
    font-family: Mona;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    margin-left: 8px;
    color: #0d0c22;
}
.pro{
    height: 16px;
    padding: 2px 3px;
    border-radius: 3px;
    background-color: #ccc;
    font-size: 10px;
    margin-left: 8px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: white;
   
}
.property-elm2{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: #9e9ea7;
    font-family: Mona;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.property-elm2-like{
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    gap: 10px;
}
.likes a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.likes a img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    transition: color 200ms ease;
    color: #9e9ea7;
    margin-right: 4px;
   
}
.likes a span{
    color: #6e6d7a;
}



.watch a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.watch a img{
    width: 16px;
    height: 16px;
    margin-right: 4px;
    /* transition: color 200ms ease; */
    color: #9e9ea7;
    margin-left: 8px;
    margin-right: 4px;
   
}
.watch a span{
    color: #6e6d7a;
}


.block3-btn{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    padding-inline: 20px;
}
.block3-btn a{
    background: #0d0c22;
    color: #fff;
    text-decoration: none;
    max-width: 400px;
    margin-inline: auto;
    margin-top: 15px;
    padding: 12px 20px ;
    border-radius: 999999px;
    font-size: 13px;
    font-weight: 600;
}
/* .block3-navTop{
    position: absolute;
    bottom: -16px;
    z-index: 3;
    right: 20px;
}

.block3-navTop.fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;

} */

#scrollTopButton {
    transition: all 0.3s ease;
    z-index: 1000;
}

#scrollTopButton.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#scrollTopButton.absolute {
    position: absolute;
    bottom: -16px;
    z-index: 3;
    right: 20px;
   
}

.block3-navTop a{
    opacity: 0.37;
    transition: 200ms ease;
}




.block3-image2{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.block3-image2 img{
    border-radius: 8px;
}
.block3_prop-main{
    display: flex;
    align-items: center;
    margin-top: 8px;
    
}
.block3_prop-main a{
    text-decoration: none;
}
.block3_prop-main span{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
   
   
}
.block3_cat span{
    font-size: 10px;
}

.block3_prop-sub{
    display: flex;
    align-items: center;
    min-width: 0;
}
.block3_prop-sub img{
    border-radius: 50%;
    margin-right: 8px;
   

}


.alert-box{
    position: fixed;
    top: 25%;
    right: 3%;
    z-index: 10;
    display: none;
    background-color: #fff;
    box-shadow: 0 16px 128px rgba(0, 0, 0, 0.5);
    width: 93%;
    min-height: 492px;
    /* margin: 32px 16px 0 16px; */
    border-radius: 15px;
    max-width: 484px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    

    

}
#closeAlert{
    position: absolute;
    background: none;
    border: none;
    top: -12;
    right: -12;
}
.alert-elm{
    padding: 48px;
    position: relative;
}
.alert-elm svg{
    margin-bottom: 32px;
}
.alert-elm h3{
    font-family: mona;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    background-color: #010306;
    padding: 24px;
    height: 56px;
    border-radius: 9999px;

}
.google span{
    color: #fff;
}
.google svg{
    margin: 0;
}
.alert-elm1{
    position: relative;
    margin:30px 0;
}
.divider{
    border-top: 1px solid #dbdbde;
}
.or{
    position: absolute;
    top: -11px;
    left: 46%;
    padding: 0 8px;
    background: #fff;
    color: #6e6d7a;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    padding: 24px;
    height: 56px;
    border-radius: 9999px;
    border: 1.5px solid #e7e7e9;
}
.alert-footer{
    padding-top: 40px;
    color: #6e6d7a;
    text-align: center;
}
.alert-footer-elm{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.alert-footer-elm a{
    text-decoration: underline;
}
.alert-footer-elm1{
    padding-top: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.footer.overlay {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out
}
.nav.overlay{
    filter: blur(5px);
    transition: filter 0.3s ease-in-out
}
.wrap.overlay{
    filter: blur(5px);
    transition: filter 0.3s ease-in-out
}







/* ?????????fooooter block */
.footer{
    position: relative;
    z-index: 1;
    transition: 0.4s opacity ease-in-out;
    transition-delay: 0.1s;
    background-color: #fff;
    color: #0d0c22;
    font-family: Mona;
    font-feature-settings: 'ss01';
}
.footer-scroll{
    gap: 24px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 60px;
    padding-inline: 24px;
    overflow: hidden;
    overflow-x: scroll;
    font-family: Mona;
    font-feature-settings: 'ss01';
    white-space: nowrap;
}
.footer-scroll::-webkit-scrollbar{
    display: none;
}
/* .footer-scroll-elm{
    width: fit-content;
    animation: 1.8s alternate-reverse infinite ease-in-out;
} */
 .footer-scroll-elm{
    white-space: nowrap;
    display: flex;
    animation:scroll-left 10s linear infinite;
    flex-shrink: 0;
 }

@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-2.5%);
    }
    25%{
        transform: translateX(-5%);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-5%);
    }
    90%{
        transform: translateX(-2.5%);
    }
    100%{
        transform: translateX(0);
    }
}


/* @keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
} */






.footer-scroll-grid{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    width: fit-content;
    transform: translateX(0);
    transition: transform 0.6s ease-out,0.6s ease-out;
    gap: 24px;
}
.footer-scroll-grid a{
    text-decoration: none;
    transition: color 200ms ease;
    width: 200px;
    height: 194px;
    position:relative;
    transform: perspective(300px) translate3d(0,0,0,);
    
}

.footer-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 150px;
}
.footer-image::before{
    transition-delay: 0s;
    background-color: #EDF3D8;
    offset: y -10px;
    offset: x -10px;
    width: 96%;
    height: 96%;
    border-radius: 12px;
    opacity: 0.4;
    content: '';
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-delay: 0.1s;
    border: 2px solid #fff;
    border-radius: 10px;

}
.footer-image::after{
    offset: x -5px;
    offset: y -5px;
    background-color: #E6FDC9;
    content: '';
    position: absolute;
    z-index: 0;
    top: -5;
    right: -5;
    width: 98%;
    height: 98%;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 10px;
    background: var(#E6FDC9, #dbdbde);
    transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.footer-img{
    display: flex;
    /* position: relative; */
    z-index: 1;
    width: 200px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #9e9ea7;
}
.footer-img img{
    opacity: 1;
    z-index: 1;
    width: 200px;
    height: 150px;
    transition: all 0.6s ease-out;
    object-fit: cover;
    opacity: var(1,0.001);
    object-position: center center;
    border: none;
}
.footer-title{
    position: absolute;
    margin-top: 12px;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 500;
    z-index: 999;
    bottom: 6px;
}
.footer_elm{
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
.footer_elm1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
    row-gap: 20px;

}
.footer_elm1 a{
    color: #0d0c22;
    text-decoration: none;
}

.footer_elm1 a svg{
    width: 104px;
    height: 30px;
}
.footer_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    line-height: 20px;
    list-style: none;
    row-gap: 12px;
    padding-left: 0;
    margin: 0;
}
.footer_links a{
    color: #3b3a4c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.footer_socialMedias{
    display: grid;
    grid-auto-flow:column ;
    gap: 16px;
}
.footer_socialMedias a{
    text-decoration: none;
    color: #3b3a4c;
    width: 18px;
    height: 18px;
}
.footer_socialMedias a svg{
    fill: rgb(13,13,13);
    height: 18px;
    width: 18px;
}
.social_text{
    opacity: 0;
    overflow: hidden;
    width: 0;
    display: none;
}
.footer_elm2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:32px 0;
    color: #6e6d7a;
    font-size: 14px;
    line-height: 20px;
    row-gap: 8px;
}
.footer_elm1-chaild1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    list-style: none;
    row-gap: 4px;
    margin: 0;
    padding: 0;
}
.footer_elm1-chaild2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    list-style: none;
    row-gap: 4px;
    margin: 0;
    padding: 0;
}



.filtered-result {
    padding: 16px 0;
    display: grid;
    padding-bottom: 0;
;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    position: relative;
}

.result-item {
    display: none; /* Initially hidden */
    width: 200px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.result-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* .result-item p {
    margin-top: 8px;
    font-size: 16px;
    color: #333;
} */

.dropdown-options li.active {
    font-weight: 500;
    color: #010306;
}

.dropdown-selected {
    font-size: 14px;
    font-weight: 500;
} 




@media screen and (min-width:375px){
    .nav-container{
        padding: 16px;
    }
    .alert-box{
        right: 3%;
    }
}






@media screen and (min-width:768px){
    .container_h1{
        font-size: 62px;
    }
    .container_h2{
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
    .container_elm{
        flex-direction: row;
        gap: 24px;
        margin-top: 5px;
    }
    .container_btn{
        height: 56px;
    }
    .block3-ol{
        padding-right: 32px;
        padding-left: 32px;
    }
    .footer_elm{
        padding: 0 32px;
    }
    .footer_elm2{
        flex-direction: row;
        padding: 44px 0;
        row-gap: 0;
    }
    .container_block2{
        padding-inline: 32px;
    }
    .block3-btn a{
        margin-top: 15px;
    }
    .alert-box{
        right: 18%;
    }
}





@media screen and (min-width:790px){
    .nav-container{
        padding: 46px 40px;
    }
    .nav-container-elm a {
        height: 48px;
    }
    .container{
        padding: 50px 40px;
    }
    .container_btnc{
        height: 56px;
        padding: 0 8px 0 8px;
    }
    .container_btn-form{
        height: 56px;
        margin-bottom: 0;
    }
    
    .container_btntop{
        height: 56px;
        display: none;
        justify-content: center;
        width: 100%;
        max-width: 520px;
        opacity: 0;
    }
    .btntop{
        opacity: 1;
        display: flex;
    }
    .container_elm{
        margin-top: 0;
    } 
    .nav-container-elm1{
        display: none;
    }
    .nav-container-sign{
        text-decoration: none;
        height: 40px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        font-feature-settings: "ss01";
        line-height: 1;
        cursor: pointer;
        padding: 0 24px;
        transition: color 0.15s cubic-bezier(0.32, 0, 0.59, 0.03), background-color, border, border-radius;
        border: 1.5px solid #fff;
        border-radius: 999999px;
        white-space: nowrap;
        gap: 8px;
    
        
    
    
    }
    .nav-container a{
        margin-right: 0;
    }
    .nav-container-elm a{
        top: 0;
        margin-top: 0;
    }
    .nav-container-btns{
        display: flex;
       
    }
    
    .nav-container-btns > :nth-child(1){
         display: flex;
         color: #0d0c22;
         font-weight: 700;
         width: 83px;
         margin-top: 1px;
        
    }



    .dropdownMenu{
        top: 92;
        padding: 32px;
        padding-top: 17px;
        padding-bottom: 15px;
        border-top: 1px solid #e7e7e9;
    }
    .alert-box{
        right: 20%;
    }
}



@media screen and (min-width:920px){
   .footer_elm1{
        flex-direction:row;
        padding:72px 0 44px;
        row-gap: 0;
   } 
   .alert-box{
    right: 23%;
   }
}

@media screen and (min-width:960px){
    .block2-form{
        flex-direction: row;
        gap: 20px;
    }
    .container_block2-btn2{
        flex: 0 0 200px;
    }
    .filtered-result{
        padding: 32px 0px 0px;
    }
    .container_block3{
        padding: 0px 0px 40px;
        margin-bottom: 0;
    }
    .block3-navTop {
        /* right: -12; */
    }
    .block3-main{
        
    }
  
    .container_block2{
        padding: 32px;
        padding-bottom: 0;
    }
    .container_block2-btn1{
        margin-right: 40px;
    }
    .contsiner_block2M{
        flex-wrap:unset;
        flex-direction: row;
    }
    .container_block2-scroll{
        padding: 0;
        margin: 0;
        order: unset;
        overflow: hidden;
        
    }
    .scroll_span-forword a svg {
        width: 13px;
        height: 12px;
    }
}

    @media screen and (min-width:1024px){
        .container_block2-btn1{
            margin-right: 40px;
        }
        .alert-box{
            right: 27%;
        }
    }





@media screen and (min-width:1200px){
    .block3-ol{
        padding-inline: 72px;
    }
    .footer_links{
        column-gap: clamp(16px,3.4vw,48px);
    }
    .nav-button{
        display: none;
    }
    .nav-container:nth-child(3){
        margin-right: 100px;
    }
    .nav-container{
        gap: 16px;
    }
    .main-icon{
        margin-right: 24px;
    }
    .container_block2{
        padding-inline: 72px;
    }
    .dropdownMen{
        display: block;
        position: relative;
    }
    .listtop_dropdown{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        box-shadow:  0px 15px 50px 0px rgba(27, 32, 50, .1);
        border-radius: 5px;
        padding: 10px;
        background: #fff;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }
    .listtop_dropdown2{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        box-shadow:  0px 15px 50px 0px rgba(27, 32, 50, .1);
        border-radius: 5px;
        padding: 10px;
        background: #fff;
        transition: opacity 0.3s ease,visibility 0.3s ease;
    }
    .listtop .pop svg{
        width: 16px;
        height: 16px;
    }
    .listtop .hire svg{
        fill: #fff;
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }
    .listtop .hire:hover{
        opacity: 0.5;
    }
    .listtop .pop:hover{
        opacity: 0.5;
    }

    li.line{
        height: 1px;
        width: 100%;
        opacity: 0.5;
        background-color: grey;
    }
    .listtop_dropdown li:nth-child(3){
        padding: 0;
        margin: 10px 0;
        padding-left: 10px;

    }
    .listtop_dropdown li{
        padding: 10px;
    }
    .listtop_dropdown.listDown{
        opacity: 1;
        visibility: visible;
    }
    .listtop{
        display: flex;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        gap: 32px;

    }
    .Explore.dim{
        opacity: 0.5;
    }
    .listtop li a{
        display: unset;
        margin: 0;
        text-wrap: nowrap;
        
    }
    .listtop li svg{
        fill: #0d0c22;
        height: 11px;
        width: 9px;
        margin-left: 3px;

    }
    .container_block2-scroll{
        
    }
    .alert-box{
        right: 33%;
    }
   
    

}

@media  screen and (min-width:1300px) {
    .container_block2-btn1 {
        flex: 0 0 150px;
    }
}



@media screen and (min-width:1600px){
    .block3-ol{
        grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));   
     }
     .filtered-result{
        grid-template-columns:repeat(auto-fill, minmax(336px, 1fr))
     }
     .container_block2-ul{
        justify-content: center;
     }




     @keyframes scroll-left{
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(-1%);
        }
        25%{
            transform: translateX(-2%);
        }
        50%{
            transform: translateX(0);
        }
        75%{
            transform: translateX(-2%);
        }
        90%{
            transform: translateX(-1%);
        }
        100%{
            transform: translateX(0);
        }
    }
    
}

@media screen and (min-width:2560px){
    .alert-box{
        right: 41%;
        top: 27%;
    }
}




